[Unit]
Description=nightcall
Requires=pulseaudio.service
After=pulseaudio.service

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Type=simple
PrivateTmp=true
EnvironmentFile=/etc/environment
ExecStart=/home/pi/nightcall/nightcall.sh
Restart=always
RestartSec=1
