[Unit]
Description=PulseAudio Daemon
Requires=networking.service avahi-daemon.service
Wants=network-online.target
After=networking.service network-online.target ntp.service dhcpcd.service

[Install]
WantedBy=multi-user.target

[Service]
# If changing the user, change the uid below (1000)
# Sadly, variable substitution is not allowed in pidfile
User=pi
# Run the mount with root instead of pi user
#PermissionsStartOnly=true
Type=forking
PIDFile=/home/pi/.config/pulse/%m-runtime/pid
TimeoutSec=60
ExecStart=/usr/bin/pulseaudio -v --daemonize --disallow-exit --exit-idle-time=-1 --fail=1 --use-pid-file=1
# Be sure 1000 is the same as the UID of pi
# This makes pacmd and pulseaudio --check work when /run/user/1000 is not mounted
# to a temp file system as it is when a user is logged in
#ExecStartPost=/bin/sh -c "mkdir -p /run/user/1000/pulse && chown pi /run/user/1000 && chown pi /run/user/1000/pulse && chmod 0700 /run/user/1000 && chmod 0700 /run/user/1000/pulse && mount --bind $(readlink /home/pi/.config/pulse/%m-runtime) /run/user/1000/pulse"
